.user_details {
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  height: 87vh;
  overflow-y: scroll;
  scrollbar-width: none;
  .back {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: var(--color-lightblue);
    }
  }
  .user_heading {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
    h2 {
      color: var(--color-darkblue);
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
    }
    .buttons {
      display: flex;
      gap: 15px;
      .blacklist {
        padding: 10px 15px;
        border: 2px solid #e4033b;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        color: #e4033b;
        cursor: pointer;
      }
      .activate {
        padding: 10px 15px;
        border: 2px solid var(--color-green);
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        color: var(--color-green);
        cursor: pointer;
      }
    }
  }
  .user_desc {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.02);
    .top_items {
      display: flex;
      gap: 20px;
      align-items: center;
      img {
        border-radius: 50%;
      }
      .user_name {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-right: 30px;
        height: 60px;
        padding-left: 30px;
        padding-top: 5px;
        border-right: 1px solid rgba(84, 95, 125, 0.2);
        .names {
          font-size: 22px;
          font-weight: 500;
          line-height: 26px;
          color: var(--color-darkblue);
        }
        .acc_number {
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          color: var(--color-lightblue);
        }
      }
      .user_tier {
        padding-right: 30px;
        border-right: 1px solid rgba(84, 95, 125, 0.2);
        height: 60px;
        padding-top: 13px;
      }
      .user_acc {
        display: flex;
        align-items: center;
        height: 60px;
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        color: var(--color-darkblue);
      }
    }
    .user_links {
      display: flex;
      gap: 130px;
      align-items: center;
      margin-top: 70px;
      margin-bottom: 5px;
      .normal_link {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        cursor: pointer;
        position: relative;
        transition: 0.2s ease-in;
        &:hover {
          color: var(--color-green);
        }
      }
    }
  }
  .user_info {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: px;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.02);
    .info {
      padding-left: 30px;
      padding-right: 30px;
      .personal {
        color: var(--color-darkblue);
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
      }
      .pad {
        margin-top: 30px;
      }
      .user_personal {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 50px;
        row-gap: 40px;
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
        .head {
          color: var(--color-lightblue);
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
        }
        .desc {
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          color: var(--color-lightblue);
          margin-top: 15px;
        }
      }
      .user_personal2 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 10px;
        row-gap: 50px;
        margin-top: 30px;
        padding-bottom: 30px;
        .head {
          color: var(--color-lightblue);
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
        }
        .desc {
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          color: var(--color-lightblue);
          margin-top: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    margin: auto;
    width: 90%;
  }
}

.selected_link {
  color: var(--color-green);
  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--color-green);
    position: absolute;
    bottom: -9px;
    left: 0;
  }
}
.user_details::-webkit-scrollbar {
  width: 0;
  height: 0;
}
