.users {
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  height: 87vh;
  overflow-y: scroll;
  scrollbar-width: none;
  .heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.15px;
    color: var(--color-darkblue);
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .users_flex {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .users_box {
      background-color: #fff;
      border-radius: 4px;
      padding-left: 20px;
      padding-top: 20px;
      width: 280px;
      height: 180px;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
      .user_desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 16.42px;
        color: var(--color-lightblue);
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .user_num {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        color: var(--color-darkblue);
      }
    }
  }
  .filter_by {
    width: 150px;
    margin-top: 40px;
    display: flex;
    color: var(--color-darkblue);
    padding: 8px 0px 8px 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 500;
    cursor: pointer;
    gap: 10px;
  }
  .users_details {
    margin-top: 40px;
    border-radius: 4px;
    background-color: #fff;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 20px;
  }
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
  }
  .content-table thead tr {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: var(--color-lightblue);
    img {
      margin-left: 8px;
    }
  }
  .content-table th {
    padding: 15px;
  }
  .content-table td {
    margin-bottom: 5px;
    padding: 15px;
  }
  .content-table tbody tr {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    cursor: pointer;
  }
  .content-table tbody img {
    margin-right: 40px;
  }
  .content-table td {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-lightblue);
  }
  .content-table td.pending {
    color: rgba(233, 178, 0, 1);
    background-color: rgba(233, 178, 0, 0.1);
    margin-right: 15px;
    padding: 10px 0px 10px 20px;
    margin-top: 4px;
    border-radius: 50px;
    display: flex;
    align-items: center;
  }
  .content-table td.blacklist {
    color: rgba(228, 3, 59, 1);
    background-color: rgba(228, 3, 59, 0.1);
    margin-right: 15px;
    padding: 10px 10px 10px 10px;
    margin-top: 4px;
    border-radius: 50px;
    display: flex;
  }
  .content-table td.active {
    color: rgba(57, 205, 98, 1);
    background-color: rgba(57, 205, 98, 0.1);
    margin-right: 15px;
    padding: 10px 0px 10px 25px;
    margin-top: 4px;
    border-radius: 50px;
    display: flex;
  }
  .content-table td.inactive {
    color: rgba(84, 95, 125, 1);
    background-color: rgba(84, 95, 125, 0.1);
    margin-right: 15px;
    padding: 10px 0px 10px 20px;
    margin-top: 4px;
    border-radius: 50px;
    display: flex;
  }
  .page_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .showing {
    display: flex;
    gap: 10px;
    align-items: center;
    .showing_display {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: var(--color-lightblue);
    }
    .selector {
      border: none;
      padding: 5px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: var(--color-darkblue);
      background-color: rgba(33, 63, 125, 0.1);
      option {
        background-color: #fff;
      }
    }
  }
  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: var(--color-lightblue);
    gap: 20px;
    .active {
      font-weight: 500;
    }
    .page-num {
      cursor: pointer;
      &:hover {
        font-weight: 500;
      }
    }
    .page-link {
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 4px;
      background-color: rgba(33, 63, 125, 0.1);
      transition: 0.2s ease;
      &:hover {
        background-color: var(--color-green);
        color: #fff;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    margin: auto;
    width: 90%;
    .users_flex {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    .page_bottom {
      margin-bottom: 50px;
      .showing {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
      }
    }
    .content-table td.pending {
      margin-top: 30px;
    }
    .content-table td.blacklist {
      margin-top: 30px;
    }
    .content-table td.active {
      margin-top: 30px;
    }
    .content-table td.inactive {
      margin-top: 30px;
    }
  }
  @media screen and (max-width: 600px) {
    .page_bottom {
      flex-direction: column;

      .showing {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }
  }
}
//end of users
.modal_dots {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border: 2px solid rgba(84, 95, 125, 0.1);
  border-radius: 8px;
  right: 3px;
  top: 45px;
  z-index: 100;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  width: 200px;
  display: flex;
  flex-direction: column;
  .modal_items {
    padding: 10px 15px;
    align-items: center;
    display: flex;
  }
}
.drop-active {
  opacity: 1;
  visibility: visible;
}
.drop-inactive {
  opacity: 0;
  visibility: hidden;
}
.users::-webkit-scrollbar {
  width: 0;
  height: 0;
}
